body {
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.round-button {
    width: 500px; /* Размер кнопки */
    height: 500px; /* Размер кнопки */
    border-radius: 50%; /* Круглая форма */
    border: none; /* Удаление рамки */
    background-image: url('sound/texture.jpg'); /* Относительный путь к текстуре */
    background-size: cover; /* Масштабирование текстуры */
    cursor: pointer; /* Курсор в виде руки */
}
